
@{
    ViewData["Title"] = SharedLocalizer["Dashboard"];
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

        <div class="content-wrapper">
            <div class="container-fluid">

                <!--Start Dashboard Content-->
                <img src="~/img/Black_Elegant_and_Minimalist_Furniture_Logo-removebg-preview.png" />
                <!--End Dashboard Content-->
                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->
            </div>
            <!-- End container-fluid-->
        </div>
