@model ForgetPasswordVm
@{
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
    ViewData["Title"] = SharedLocalizer["AbdalrhmanAdelPortfolio|ForgetPassword"];
}

<div class="height-100v d-flex align-items-center justify-content-center">
    <div class="card card-authentication1 mb-0">
        <div class="card-body">
            <div class="card-content p-2">
                <div class="card-title text-uppercase pb-2">Reset Password</div>
                <p class="pb-2">@SharedLocalizer["Pleaseenteryouremailaddress.Youwillreceivealinktocreateanewpasswordviaemail."]</p>
                <form asp-area="Identity" asp-controller="Account" asp-action="ForgetPassword">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class="form-group">
                        <label for="exampleInputEmailAddress" class="">@SharedLocalizer["EmailAddress"]</label>
                        <div class="position-relative has-icon-right">
                            <input asp-for="Email" type="text" id="exampleInputEmailAddress" class="form-control input-shadow" placeholder=@SharedLocalizer["EmailAddress"]>
                            <div class="form-control-position">
                                <i class="icon-envelope-open"></i>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-light btn-block mt-3">@SharedLocalizer["ResetPassword"]</button>
                </form>
            </div>
        </div>
        <div class="card-footer text-center py-3">
            <p class="text-warning mb-0">Return to the <a asp-area="Identity" asp-controller="Account" asp-action="Login">@SharedLocalizer["SignIn"]</a></p>
        </div>
    </div>
</div>
@section MicrosoftValidation{
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}


